.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 80%;
}

.menu {
  margin-bottom: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu li:hover {
  background-color: #555;
}

.menu li.active {
  background-color: #555;
}

.menu li span {
  margin-left: 10px;
}

.others ul {
  list-style: none;
  padding: 0;
}

.others li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.others li:hover {
  background-color: #555;
}

.others li.active {
  background-color: #555;
}

.others li span {
  margin-left: 10px;
}

.dashboard {
  flex: 1;
  padding: 20px;
}

.content {
  flex: 1; /* Occupy remaining space */
  padding: 20px;
}

.greeting {
  background-color: #feecd2;
  padding: 20px;
  color: #239263;
  border-radius: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: row; /* Change flex direction to row */
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Align items vertically */
  width: 750px;
}

.greeting-text {
  margin-bottom: 10px; /* Add space between each line of text */
}

.greeting h2 {
  margin-bottom: 5px; /* Adjust space for DateDisplay */
}

.greeting img {
  max-width: 350px; /* Adjust the width of the image as needed */
}