.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 80%;
}

.menu {
  margin-bottom: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu li:hover {
  background-color: #555;
}

.menu li.active {
  background-color: #555;
}

.menu li span {
  margin-left: 10px;
}

.others ul {
  list-style: none;
  padding: 0;
}

.others li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.others li:hover {
  background-color: #555;
}

.others li.active {
  background-color: #555;
}

.others li span {
  margin-left: 10px;
}

.dashboard {
  flex: 1;
  padding: 20px;
}

.content-top {
  background-color: #feecd2;
  padding: 20px;
  color: #239263;
  border-radius: 25px;
  display: flex; /* Using flexbox */
  align-items: center; /* Centering vertically */
  justify-content: space-between; /* Distributing items evenly */
}

.greeting {
  text-align: left;
  font-size: 16px; /* Hello, PT Sumalde! */
}

.greeting h2 {
  font-size: 30px; /* Adjust the word "Have a nice day!" */
}

.appointments-wrapper {
  margin-top: 30px;
  padding: 20px;
  background-color: #feecd2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.appointments-wrapper h3 {
  margin-bottom: 10px;
  color: #239263;
  font-size: 30px;
  align-self: flex-start;
}

.appointments-wrapper h1 {
  margin-bottom: 10px;
  color: #239263;
  font-size: 20px;
}

.patient-activity-wrapper {
  margin-top: 30px;
  padding: 20px;
  background-color: #feecd2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.patient-activity-wrapper h3 {
  margin-bottom: 10px;
  color: #239263;
  font-size: 30px;
  align-self: flex-start;
}