.app-container {
  display: flex;
}

.content {
  padding: 20px;
}

.content-top {
  background-color: #feecd2;
  padding: 20px;
  color: #239263;
  border-radius: 25px;
  display: flex; 
  align-items: center; /* Centering vertically */
  justify-content: space-between; /* Distributing items evenly */
  margin-right: 145px;
}

.content-top img[src*="dashboard-top.png"] {
  margin-left: 20px;
}

.greeting {
  text-align: left;
  font-size: 16px; /* Hello, PT Sumalde! */
}

.greeting h2 {
  font-size: 30px; /* Adjust the word "Have a nice day!" */
}

.appointments-wrapper {
  margin-top: 30px;
  padding: 20px;
  background-color: #feecd2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.appointments-wrapper h3 {
  margin-bottom: 30px;
  color: #239263;
  font-size: 30px;
  align-self: flex-start;
}

.appointments-wrapper h1 {
  margin-bottom: 10px;
  color: #239263;
  font-size: 20px;
}

.patient-activity-wrapper {
  margin-top: 30px;
  padding: 20px;
  background-color: #feecd2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.patient-activity-wrapper h3 {
  margin-bottom: 30px;
  color: #239263;
  font-size: 30px;
  align-self: flex-start;
}

.right-wrapper {
  padding: 20px;
  background-color: #ffda4f;
  border-radius: 25px;
  position: right; /* Use absolute positioning */
  background-image: url('./components/DoctorProfile.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire wrapper with the background image */
  background-position: right; /* Center the background image */
  margin-top: 20px;


}

.doctor-profile h3 {
  color: #239263;
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
  background-color: #ffda4f;
  border-radius: 25px;
  padding: 5px;
}

.details-doctor-profile {
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 25px;
}
.details-doctor-profile h3 {
  background-color: #ffffff;
  
}