.sidebar {
  width: 200px;
  height: 300px;
  background-color: #F1F2F7;
  color: #5A67BA;
  padding: 20px;
}

.menu, .others {
  margin-bottom: 20px;
}

.menu ul, .others ul {
  list-style: none;
  padding: 0;
}

.menu li, .others li {
  margin-bottom: 5px;
  cursor: pointer;
}

.menu li:hover, .others li:hover {
  background-color: #E4E7F4; /* Change color on hover */
}

.content {
  margin-left: 220px;
  padding: 20px;
}