.dashboard {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  margin-left: 100px;
  color: black;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
}

.widget {
  background-color: #feecd2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  border-radius: 25px;
  margin-top: 40px;
}

.widget h2 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  
}

.widget ul li {
  margin-bottom: 10px;
}

/* Additional Styling for Patient Summary Widget */
.widget:nth-child(3) {
  background-color: #feecd2;
}