.dashboard {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  margin-left: 170px;
  color: #239263;
  text-align: center;
}

.dashboard h1 {
  font-size: 40px;
  margin-left: 15px;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.widget {
  background-color: #feecd2;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  margin-top: 20px;
  margin: 10px;
}

.widget h2 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  
}

.widget ul li {
  margin-bottom: 10px;
}

.dashboard button {
  margin-bottom: 5px; 
  margin-left: 15px;
  background-color: #ffda4f; 
  color: #239263; 
  font-weight: bold;
  border-radius: 25px;
  font-size: 19px;
}

.dashboard button:hover {
  background-color: #ffd333;
}

.back-button {
  margin-bottom: 5px; 
  background-color: #ffda4f; 
  color: #239263; 
  font-weight: bold;
  border-radius: 25px;
  font-size: 19px;
}