.dashboard {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  margin-left: 240px;
  color: #239263;
  text-align: center;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.dashboard-wrapper {
  display: flex; 
  flex-direction: row; 
  background-color: #ffda4f;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 25px;
  margin-top: 5px;
}

.widget {
  background-color: #feecd2;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  margin-top: 20px;
}

.widget h2 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  
}

.widget ul li {
  margin-bottom: 10px;
}


.dashboard button {
  margin-bottom: 5px; 
  background-color: #ffda4f; 
  color: #239263; 
  font-weight: bold;
  border-radius: 25px;
  font-size: 19px;
}

.dashboard button:hover {
  background-color: #ffd333;
}