.recorded-videos {
    flex: 1;
    padding: 20px;
  }
  
  .recorded-videos h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px;
    justify-content: space-around; 
  }
  
  .video-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .video-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
    text-align: center;
  }
  
  .video-info {
    color: #000000;
    margin-bottom: 10px;
  }
  
  .video-thumbnail {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #5A67BA;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button.active {
    background-color: #000000;
    color: #fff;
  }
  
  .pagination button:hover {
    background-color: #bbb;
  }