.recorded-videos-wrapper {
  background-color: #feecd2;
  border-radius: 25px;
  margin-top: 6px;

}

.recorded-videos {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    color: #239263;

  }
  
  .recorded-videos h2 {
    font-size: 25px;
    margin-bottom: 10px;

  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px;
    justify-content: space-around; 
  }
  
  .video-item {
    padding: 10px;
    border-radius: 25px;
    background-color: #ffda4f;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  
  .video-item h3 {
    font-size: 1.1em;
    margin-bottom: 0px;
    color: #239263;
    text-align: center;
  }
  
  .video-info {
    color: #239263;
    margin-bottom: 10px;
  }
  
  .video-thumbnail {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #239263;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button.active {
    background-color: ffda4f;
    color: #fff;
  }
  
  .pagination button:hover {
    background-color: #bbb;
  }

  .back-button {
    margin-bottom: 5px; /* Added some spacing below the button */
    background-color: #ffda4f; /* Change the color of the button */
    color: #239263; /* Change the font color */
    font-weight: bold;
    border-radius: 25px;
    font-size: 19px;
  }

  .back-button:hover {
    background-color: #ffd333;
  }
