/* Sidebar.css */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #4264D0;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  padding: 0px;
  overflow-y: hidden;
}

.sidebar-header {
  margin-top: 40px;
  margin-bottom: 0px;
  border-bottom: 2px solid #5A67BA;
  padding-bottom: 10px;
}

.sidebar-header h2 {
  color: white;
}

.menu,
.others {
  margin-bottom: 10px;
}

.menu p,
.others p,
.menu li,
.others li {
  font-weight: bold;
  font-size: 16px;
  color: white; /* Adjusted font color */
}

.menu ul,
.others ul {
  list-style: none;
  padding: 0;
}

.menu li,
.others li {
  margin-bottom: 15px;
  cursor: pointer;
  transition: font-weight 0.3s;
  margin-left: 15px;
}

.menu li:hover,
.menu li.active,
.others li:hover,
.others li.active {
  background-color: #728DE4;
  font-weight: bold;
  margin-left: 18px;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.menu li span.icon-text,
.others li span.icon-text {
  margin-left: 20px;
  margin-right: 1px;
}