/* Sidebar.css */
.sidebar {
  width: 260px;
  height: 95vh;
  background-color: #ffda4f;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  padding: 10px;
  overflow-y: hidden;
  border-radius: 25px;
  margin-left: 15px;
  font-weight: bold;
}

.sidebar-header {
  margin-top: 40px;
  margin-bottom: 0px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  text-align: center;
}

.sidebar-header img {
  width: 200px; 
  height: auto; 
  margin-bottom: 40px;
}

.logo-text {
  display: none; /* Hide the text when the logo is present */
}

.sidebar-header h2 {
  color: white;
}

.menu {
  margin-bottom: 30px;
  margin-right: 10px;
}

.menu li {
  margin-bottom: 15px;
  margin-right: 20px;
  cursor: pointer;
  transition: font-weight 0.3s;
  padding: 10px;
  display: flex;
}

.menu li:hover {
  background-color: #1e9060;
  border-radius: 25px;
}

.menu li.active {
  background-color: #1e9060;
  font-weight: bold;
  margin-right: 0.3px;
  border-radius: 25px;
}

.menu li span.icon-text {
  margin-left: 20px;
  margin-right: 1px;
  font-size: 20px;
}

.menu li .icon {
  margin-top: 5px; 
}
