/* Sidebar.css */
.sidebar {
  width: 260px;
  height: 95vh;
  background-color: #ffda4f;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  padding: 10px;
  overflow-y: hidden;
  border-radius: 25px;
  margin-left: 15px;
  font-weight: bold;
}

.sidebar-header {
  margin-top: 40px;
  margin-bottom: 0px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

.sidebar-header img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 40px;
}

.logo-text {
  display: none; /* Hide the text when the logo is present */
}

.sidebar-header h2 {
  color: white;
}

.menu,
.others {
  margin-bottom: 10px;
  margin-right: 20px;
}

.menu p,
.others p 
.menu li 
.others li {
  font-weight: bold;
  font-size: 16px;
  color: rgb(248, 248, 248); /* Adjusted font color */
}

.menu ul,
.others ul {
  list-style: none;
  padding: 0;
}

.menu li,
.others li {
  margin-bottom: 15px;
  cursor: pointer;
  transition: font-weight 0.3s;
  margin-left: 15px;
}

.menu li:hover,
.menu li.active,
.others li:hover,
.others li.active {
  background-color: #1e9060;
  font-weight: bold;
  margin-left: 18px;
}

.content {
  margin-left: 20px;
  padding: 20px;
}

.menu li span.icon-text,
.others li span.icon-text {
  margin-left: 20px;
  margin-right: 1px;
  font-size: 20px;
}